extends layout

block content 
  #contentContainer
    ul 
    li.readableFont: a(href="/cv") CV 
    br
    li.readableFont: a(href="/disciplinas") Disciplinas
    br
    li.readableFont: a(href="/midia") Midia