extends layout

block content
  #midiaContainer.midiaContent
    a(href="https://github.com/Burketa"): button.bigButton(type="button") GitHub

    br
    br
    br

    a(href="https://www.linkedin.com/in/rogeriopelizzon/"): button.bigButton(type="button") LinkedIn